*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    background:#f1f5f9;
}

/* Navbar */

.navbar{
    background:#0f172a;
    color:white;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:18px 40px;
}

.logo{
    font-size:24px;
    font-weight:bold;
    color:white;
}

.nav-links{
    display:flex;
    list-style:none;
    gap:25px;
}

.nav-links a{
    color:white;
    text-decoration:none;
    transition:0.3s;
}

.nav-links a:hover{
    color:#60a5fa;
}

/* Hero */

.hero{
    background:linear-gradient(
        135deg,
        #2563eb,
        #7c3aed
    );

    color:white;

    text-align:center;

    padding:70px 20px;
}

.hero h1{
    font-size:3rem;
    margin-bottom:15px;
}

.hero p{
    font-size:1.1rem;
}

/* Container */

.container{
    width:90%;
    max-width:1200px;
    margin:40px auto;
}

/* Form */

.form-container{
    background:white;
    padding:40px;
    border-radius:20px;
    box-shadow:0 8px 25px rgba(0,0,0,0.08);

    display:grid;
    grid-template-columns:1fr 1fr;
    gap:20px;
}

.input-group{
    display:flex;
    flex-direction:column;
}

.input-group label{
    margin-bottom:8px;
    font-weight:600;
    color:#1e293b;
}

input,
select{
    padding:14px;
    border:1px solid #cbd5e1;
    border-radius:12px;
    font-size:15px;
}

input:focus,
select:focus{
    outline:none;
    border-color:#2563eb;
}

button{
    grid-column:span 2;

    padding:15px;

    border:none;

    border-radius:12px;

    background:linear-gradient(
        135deg,
        #2563eb,
        #7c3aed
    );

    color:white;

    font-size:17px;

    font-weight:600;

    cursor:pointer;
}

button:hover{
    opacity:0.95;
}

/* Result */

.result-card{
    margin-top:30px;

    background:white;

    padding:35px;

    border-radius:20px;

    text-align:center;

    box-shadow:0 8px 25px rgba(0,0,0,0.08);
}

.result-card h2{
    margin-bottom:15px;
}

.result-card h3{
    color:#475569;
}

.progress-container{
    width:100%;
    height:28px;

    background:#e2e8f0;

    border-radius:50px;

    overflow:hidden;

    margin-top:20px;
}

.progress-bar{
    width:0%;
    height:100%;

    background:linear-gradient(
        90deg,
        #22c55e,
        #16a34a
    );

    transition:0.8s;
}

/* Footer */

footer{
    background:#0f172a;
    color:white;
    text-align:center;
    padding:35px;
    margin-top:50px;
}

footer h3{
    margin-bottom:10px;
}

/* Mobile */

@media(max-width:768px){

    .form-container{
        grid-template-columns:1fr;
    }

    button{
        grid-column:span 1;
    }

    .hero h1{
        font-size:2rem;
    }

}